<div class="page" id="page">
  {% include "@organisms/global/header.twig" %}

  {% block topbar %}{% endblock %}

  <main class="main" role="main">

    {% block getquote %}{% endblock %}
    {% block content %}{% endblock %}
  </main><!--End main-->
  {% include "@organisms/global/footer.twig" %}
</div>