body {
  margin: 0;
  padding: 0;
  background: #fefefe;
  font-family: "Museo Sans Rounded",Helvetica,Roboto,Arial,sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #161616;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// $header-font-family
// $header-styles