// Colors.
$white: #fff;
$header-text-color: map-deep-get($cmap-customs, primary-color);
$input-border-color: map-deep-get($cmap-standard, mercury-approx);
$input-background-color: map-deep-get($cmap-standard, mercury-approx);
$input-placeholder-color: map-deep-get($cmap-standard, gray-approx);
$placeholder-error-text-color: map-deep-get($cmap-customs, primary-color);
$error-text-color: get-color(alert);
$error-border-color: get-color(alert);
$radio-checked-color: map-deep-get($cmap-customs, secondary-color);
$select-color: map-deep-get($cmap-standard, gray-approx);

/* Forms
-----------------------------*/
.purchaseList {
  list-style-type: none;
  margin: 0;
  padding: 0;

  > li {

    &.columns {
      padding-left: 0;

      @media screen and #{breakpoint(large up)} {
        min-height: 95px;
      }

      &.pull-right {
        float: right;
      }

      &.end {
        float: right !important;
        padding-right: 0;
      }

      &.start {
        clear: both;
      }

      @media screen and #{breakpoint(small down)} {
        &.mobile-end {
          padding-right: 0;
        }

        &.mobile-end + li {
          clear: both;
        }
      }
    }
  }
}

// Error state overrides for quote form
.form-item--error-message {
  clear: both;
  color: $error-text-color;
  float: left;
  font-size: rem-calc(13);
  margin-bottom: 15px;
  margin-top: -15px;
  width: 100%;

  .fieldset-wrapper & {
    margin-top: 0;
  }

  .purchaseList & {

    @media screen and #{breakpoint(large up)} {
      margin-bottom: 0;
    }

  }

}

.emcConsentContainer {
  .form-item--error-message {
    margin-top: 30px;
  }
}

//original selectors
//legend, label
%form-label-extends {
  font-family: $font-family-primary;
  font-weight: $font-face-medium;
}

//original selectors
//input[type="text"], input[type="password"], input[type="search"], input[type="number"]
%text-input-extends {
  box-shadow: none;
  height: 45px;
  margin-bottom: 20px;
  padding: 0 13px;

  &::placeholder {
    color: $input-placeholder-color;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: $input-placeholder-color;
  }

  &::-ms-input-placeholder {
    color: $input-placeholder-color;
  }

  &::selection {
    background-color: map-deep-get($cmap-standard, gallery-approx);
  }

}

//original selectors
//input[type="radio"], input[type="checkbox"]
%check-input-extends {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  vertical-align: middle;
}

//original selectors
//input[type="radio"] +label, input[type="checkbox"] +label
%label-extends {
  font-size: rem-calc(15);
  margin: 0 20px 0 0;
  padding: 0;
}

//original selectors
//input[type="submit"], button, .btnHome
%button-extends {
  background: $button-background;
  border: 0;
  border-radius: 4px;
  color: $button-color;
  cursor: pointer;
  font-family: $font-family-primary;
  font-size: rem-calc(15);
  font-weight: $font-face-medium;
  height: 45px;
  max-width: 180px;
  padding: $button-padding;
  text-align: center;
  text-transform: uppercase;
  transition: $button-transition;
  width: 100%;
}






// Button
.button {
  // sass-lint:disable-block no-duplicate-properties
  background-color: map-deep-get($cmap-standard, gold-drop-approx);
  background-color: var(--secondary-color) !important;

  //:not(.edit-age-actions) {
  &[data-twig-suggestion='add_button'],
  &[data-twig-suggestion='remove_button'] {
    background: none !important;
    float: left;
    font-weight: normal;
    margin: 0 0 0 10px;
    padding: 0;
    text-align: center;

    &:focus {
      outline: 1px solid var(--secondary-color);
      outline-offset: -1px;
    }

    .add-traveller-circle,
    .remove-traveller-circle {
      fill: map-deep-get($cmap-customs, secondary-color);
    }
  }
}

input[type='button'], // sass-lint:disable-line force-attribute-nesting,no-qualifying-elements
.button {
  @extend %button-extends;
  font-size: rem-calc(18);

  &:hover,
  &:focus,
  &:active {
    background-color: $button-background-hover;
  }

  &:focus {
    outline: none;
  }

}

// EMC Checkboxes as buttons
label[for^=-emc-assessment-confirmation], // sass-lint:disable-line force-attribute-nesting,no-qualifying-elements
.startAssessmentContainer label { // sass-lint:disable-line force-element-nesting
  @extend %button-extends;
  // sass-lint:disable-block no-duplicate-properties
  background-color: var(--secondary-color) !important;
  background-color: map-deep-get($cmap-standard, gold-drop-approx);
  font-size: rem-calc(18);
  margin-bottom: 20px !important;
  max-width: 220px !important;
  padding: 0.65em 1em !important;

  &:hover,
  &:focus,
  &:active {
    background-color: $button-background-hover;
  }

  &:focus {
    outline: none;
  }

  &:before {
    display: none !important;
  }

}

button {
  &[disabled] {
    background-color: $input-background-color;

    &:hover,
    &:focus,
    &:active {
      background-color: $input-background-color;
    }

    &:focus {
      outline: none;
    }

  }
}

.btnLink {
  @extend %button-extends;
  border-radius: $button-radius;
  display: inline-block;
  margin: 0;
  width: auto;

  &:hover,
  &:focus,
  &:active {
    background-color: $button-background-hover;
    color: $white;
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}




/* Error/Validation */
.error {
  border-color: $error-border-color !important;

  .fieldset-wrapper > div {
    color: $error-text-color;
    font-size: rem-calc(13);
  }
}

.callout {
  border: 0;
  padding: 0;

  &.alert {
    background: $white;
    border: 1px solid $input-border-color;
    padding: 15px 40px 15px 15px;

    .messages__item {
      color: $error-text-color;
    }

    button {
      height: 20px;
      padding: 0;
      width: 20px;
    }

    span {
      color: $white;
      display: block;
      font-size: 1.25rem;
      height: 20px;
      margin: 0 0 0 1px;
      width: 19px;
    }
  }
}
