$error-text-color: get-color(alert);

section {
  &.secondary {
    border-top: 1px solid map-deep-get($cmap-standard, alto-approx);
    margin-top: 60px;
    padding-top: 60px;
  }
}

.verisk-block {
  margin: 20px 0;

  fieldset {
    margin: 20px 0;

    legend {
      font-size: rem-calc(15);
      line-height: 1.25;
      margin-bottom: 5px;
      width: calc(100% - 30px);

      + input + label {
        float: left;
        width: 0;

        &:before {
          top: 0;
        }
      }
    }

  }

  .emcAssessmentContainer {

    fieldset {
      min-width: 280px;

      legend {
        width: 100%;
      }

    }

  }

  .emcConsentContainer {
    fieldset {
      legend {
        width: calc(100% - 30px);
      }
    }
  }

  .emcPrivacyContainer,
  .emcConsentContainer {
    legend {
      float: right;
    }
  }

  .emcErrorContainer {
    p {
      color: $error-text-color;
    }
  }

  .emc-only-error {
    padding-top: 20px;
  }
}

.bw-quote-travellers-information {
  .verisk-block {
    .q1 {
      label {
        display: block;
      }
    }
  }
}

.option-marketing-wrapper {
  display: inline-block;
  position: relative;

  input {
    &[type='checkbox'] {
      &:focus-visible,
      &:disabled {
        appearance: none;
        background: transparent;
        clip: rect(-1px, 16px, 16px, -1px);
        height: 15px;
        margin-top: 6px;
        outline: 1px dotted $black;
        width: 15px;
        z-index: 5;
      }
    }
  }
}
