.cmap-slick-field-slick {
  .field-item {
    display: none;

    &:first-child {
      display: block;
    }
  }

  &.slick-initialized {
    .field-item {
      display: block;
    }
  }
}

.path-frontpage {
  .background-image-wrapper {
    left: 0;
    position: absolute;
    right: 0;
  }
}

.block-cmapslickbackgroundslideshow, .block-cmap-slick-background {
  max-height: 470px;

  .slick-slide {
    img {
      // This is needed for object-fit-images polyfill See https://github.com/fregante/object-fit-images.
      font-family: 'object-fit: cover; object-position: bottom;';
      height: 470px;
      object-fit: cover;
      object-position: top;
      width: 100%;
    }
  }
}
