//   Background Images
$background-date-field: url('../images/icons/icon-calendar.svg');
$background-select: url('../images/backgrounds/bkg-select.svg');
$my-trip-closed: url('../images/icons/chevron-down.svg');
$my-trip-open: url('../images/icons/chevron-up.svg');
$shields-1: url('../images/backgrounds/shields-1.png');
$shields-2: url('../images/backgrounds/shields-2.png');
$shields-3: url('../images/backgrounds/shields-3.png');
$chevron-unselected: url('../images/icons/benefits-chevron-down.svg');
$chevron-selected: url('../images/icons/benefits-chevron-up.svg');
$confirmation-check: url('../images/icons/confirmation-check.svg');
$chevron-region: url('../images/icons/chevron-right.svg');
$header-phone: url('../images/icons/header-phone.svg');

//form elements
$radio-initial: url('../images/icons/radio-unselected.svg');
$radio-selected: url('../images/icons/radio-selected.svg');
$checkbox-initial: url('../images/icons/checkbox-unselected.svg');
$checkbox-selected: url('../images/icons/checkbox-selected.svg');
$select-arrow: url('../images/icons/select-arrow.svg');
$help-icon: url('../images/icons/help-icon.svg');

// add-ons
$luggage-addon: url('../images/backgrounds/luggage.svg');
$rental-car-addon: url('../images/backgrounds/rental-car.svg');
$motorsport-addon: url('../images/backgrounds/motorcycle.svg');
$wintersport-addon: url('../images/backgrounds/wintersports.svg');
$cancellation-addon: url('../images/backgrounds/cancellation.svg');
$adventure-addon: url('../images/backgrounds/adventure.svg');
$cruise-addon: url('../images/backgrounds/cruise.svg');
$snow-addon: url('../images/backgrounds/snowsports.svg');
$motorcycle-addon: url('../images/backgrounds/motorcycle.svg');
