{% set count = traveler['#count'] %}
<div class="quote-age-cost">
  {# Traveler list. #}
  {% for i in 0..count %}
    <div class="quote-age-cost__row">
      {#  Age.  #}
      <div class="quote-age-cost__age">
        {{ traveler['age_'~i] }}
      </div>
      {#  Cost.  #}
      <div class="quote-age-cost__cost">
        {{ traveler['trip_cost_'~i]}}
      </div>

      {# Add/Remove button. #}
      {% if traveler['actions_'~i] %}
        <div class="quote-age-cost__action">
          <div class="form-required">&nbsp;</div>
          {{ traveler['actions_'~i] }}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
{{ traveler.actions }}

