$shadow-color: map-deep-get($cmap-standard, box-shadows);
$icon-color: map-deep-get($cmap-customs, primary-color);

.benefits {

  margin-top: 30px;

  .benefit {
    margin-bottom: 20px;

    div {
      box-shadow: 0 1px 4px 0 $shadow-color;
      font-size: 0.9375rem;
      min-height: 300px;
      padding: 20px;
      text-align: center;

      svg {
        display: inline-block;
        margin: 0 auto 40px;

        .icon-stroke {
          stroke: $icon-color;
        }
      }

      h3 {
        font-size: 0.9375rem;
        line-height: 1.25;
      }

      p {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
