.navbar {
  &--primary {
    background-color: get-color(primary);
  }
}

.menu {
  $self: &;
  $margin: 22px;
  &__wrap {
    margin-left: -$margin;
    margin-right: -$margin;

  }
  &--primary {
    background-color: get-color(primary);
    &.menu>li {
      margin-left: $margin;
      margin-right: $margin;
      &>.link--primary {
        font-size: rem-calc(13);
        color: $white;
        height: 60px;
        padding: 0 calc( 32px - #{$margin});
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}