{# plan-options.twig #}
{% set root = '/CoverMore-UI/patterns' %}

{# Begin plan option #}
<div class="plan-option shadow text-center">
  <div class="plan-option__header">
    <h2 class="title--plan-option">Post Departure Plan</h2>
  </div>
  <div class="plan-option__body">
    <hr>
    <div class="plan-option__price"> $34.00 </div>
    <div class="plan-option__action">
      <a class="button secondary button--plan-option" href="{{root}}/templates-theme-farmers-addon-page/templates-theme-farmers-addon-page.html">Select</a>
    </div>
    <div class="plan-option__benefits">
      <ul class="list--benefits no-bullet">
        <li class="item--benefits">

          <div class="benefits">
            <div class="benefits__headline">Trip Cancellation</div>
            <div class="benefits__description">Protect travel investments and recover non-refundable, prepaid trip costs if a trip is canceled for covered reasons.</div>
            <div class="benefits__coverage">Not Included</div>
          </div>

        </li>
        <li class="item--benefits">

          <div class="benefits">
            <div class="benefits__headline">Trip Cancellation</div>
            <div class="benefits__description">Protect travel investments and recover non-refundable, prepaid trip costs if a trip is canceled for covered reasons.</div>
            <div class="benefits__coverage">Not Included</div>
          </div>

        </li>
        <li class="item--benefits">

          <div class="benefits">
            <div class="benefits__headline">Trip Cancellation</div>
            <div class="benefits__description">Protect travel investments and recover non-refundable, prepaid trip costs if a trip is canceled for covered reasons.</div>
            <div class="benefits__coverage">Not Included</div>
          </div>

        </li>
      </ul>
    </div>
    <div class="plan-option__benefits-toggle">
      <button class="button clear">See all benefits</button>
    </div>
    <div class="plan-option__pds-link">
      <button class="button clear">View Policy Details</button>
    </div>

  </div>

</div>
{# End plan option #}
