// Progress Bar
.progress-bar {
  // sass-lint:disable-block no-duplicate-properties
  background-color: map-deep-get($cmap-standard, bahama-blue-approx);
  background-color: var(--primary-color) !important;
  height: 60px;

  @media screen and #{breakpoint(small down)} {
    height: 50px;
  }

  @media print {
    display: none;
  }

  ul {
    color: $white;
    list-style-type: none;
    padding: 0 15px;
    position: relative;

    li {
      display: inline-block;
      float: left;
      font-size: rem-calc(13);
      font-weight: $font-face-light;
      opacity: 0.5;
      padding: 22px 50px 0 15px;

      @media screen and #{breakpoint(medium down)} {
        padding-right: 20px;
      }

      @media screen and #{breakpoint(small down)} {
        display: none;
        padding-top: 6px;
      }

      &:first-of-type {
        padding-left: 0;
      }

      &.active {
        opacity: 1;
      }

      &.quote-summary-link {
        border-left: 1px solid $white;
        display: block;
        height: 60px;
        min-width: 140px;
        opacity: 1;
        padding-right: 0;
        position: absolute;
        right: 16px;

        @media screen and #{breakpoint(small down)} {
          font-size: rem-calc(16);
          height: 42px;
          margin-top: 8px;
          min-width: 135px;
        }

      }
    }
  }

  .expand-details-wrapper {
    position: relative;

    .expand-details {
      background: transparent $my-trip-closed no-repeat center right;
      background-size: 11px 5px;
      height: 60px;
      padding: 0;
      position: absolute;
      right: 16px;
      top: -58px;
      width: 140px;

      @media screen and #{breakpoint(small down)} {
        height: 40px;
        top: -7px;
        width: 134px;
      }
    }
  }
}
