{% extends '@templates/layouts/page-plan-option.twig' %}

{% block topbar %}
  {% include '@components/topbar.twig' %}
{% endblock %}

{% block main %}
  {#
  <style>
    .show-outline div {
      outline: 1px solid #6ed2ff;
      background: #eaf9ff;
      padding: 10px;
  }
  </style> #}
  <section class="section section--plan-option show-outline">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell">
          <div class="section__header">
            <h2 class="section__title title--section-primary">
              Payment
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell">
          <div class="form">
            <section id="block-covermore-farmers-content"
              data-block-plugin-id="system_main_block"
              class="block-covermore-farmers-content block block-system block-system-main-block">
              <h1>
                Thank you for choosing us for your travel
              </h1>
              <div class="confirmation-info-purchase-text">
                <p>
                  Your purchase is confirmed.&nbsp;We have sent a confirmation
                  email with all necessary policy documents to <strong>
                    <span class="mask">dev-smtp@covermore.com</span>
                  </strong>. We wish you a safe and pleasant journey!
                </p>
              </div>
              <div class="confirmation-wrapper">
                <div class="confirmation-mobile-box-wrapper">
                  <div class="confirmation-info-here-wrap">
                    <strong class="policy-number">
                      Policy Number: #512ZPD100101
                    </strong>
                    <svg width="152px"
                      height="40px"
                      viewBox="0 0 152 40"
                      version="1.1"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink">
                      <defs>
                        <polygon id="path-1"
                          points="0.000108665756 0.263333333 31.8336667 0.263333333 31.8336667 39.9998 0.000108665756 39.9998"></polygon>
                        <polygon id="path-3"
                          points="0.000108665756 0.263333333 31.8336667 0.263333333 31.8336667 39.9998 0.000108665756 39.9998"></polygon>
                        <polygon id="path-5"
                          points="0.000108665756 0.263333333 31.8336667 0.263333333 31.8336667 39.9998 0.000108665756 39.9998"></polygon>
                      </defs>
                      <g id="Desktop"
                        stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd">
                        <g id="6_Confirmation_CM"
                          transform="translate(-435.000000, -437.000000)">
                          <g id="Group-2"
                            transform="translate(435.000000, 437.000000)">
                            <g id="Group-6-Copy-3">
                              <g id="Group-3">
                                <mask id="mask-2" fill="white">
                                  <use xlink:href="#path-1"></use>
                                </mask>
                                <g id="Clip-2"></g>
                                <path d="M4.66146667,6.15713333 C3.64046667,6.52113333 3.43646667,6.6708 3.43613333,7.93713333 C3.4358,13.0181333 3.45946667,17.6454667 3.42413333,22.7261333 C3.4108,24.6128 3.9458,26.2851333 5.05846667,27.7791333 C7.77646667,31.4281333 11.5688,33.6408 15.5678,35.5598 C15.7981333,35.6701333 16.1928,35.5944667 16.4478,35.4724667 C19.5518,33.9904667 22.4911333,32.2444667 24.9781333,29.8351333 C26.9904667,27.8854667 28.4821333,25.6808 28.4081333,22.6944667 C28.3481333,20.2508 28.3961333,17.8044667 28.3958,15.3591333 C28.3958,12.6281333 28.3784667,10.3511333 28.4071333,7.62046667 C28.4151333,6.88713333 28.1974667,6.62613333 27.4218,6.1518 C27.4218,6.1518 22.1668,4.13546667 16.0834667,4.13546667 C10.0001333,4.13546667 4.66146667,6.15713333 4.66146667,6.15713333 M30.6778,2.6028 C31.5934667,2.9328 31.8364667,2.9708 31.8338,3.8268 C31.8104667,10.6851333 31.8361333,17.5441333 31.8124667,24.4024667 C31.8028,27.1771333 30.5591333,29.1318 28.7701333,31.1528 C25.4511333,34.9024667 21.2628,37.4354667 16.8321333,39.6244667 C16.6138,39.7324667 16.4121333,39.8738 16.2028,39.9998 L15.6308,39.9998 C12.7601333,38.2801333 9.79013333,36.7031333 7.0468,34.7998 C4.32646667,32.9124667 1.9328,30.9228 0.711133333,27.7198 C0.313133333,26.6754667 0.0528,25.5101333 0.0431333333,24.3974667 C-0.0168666667,17.5391333 0.0224666667,10.6804667 0.000133333333,3.8218 C-0.00286666667,2.96413333 0.267133333,2.8928 1.1598,2.6288 C1.1598,2.6288 9.3338,0.263133333 15.9168,0.263133333 C22.5001333,0.263133333 30.6778,2.6028 30.6778,2.6028"
                                  id="Fill-1"
                                  fill="#231F20"
                                  mask="url(#mask-2)"></path>
                              </g>
                              <path d="M6,19.1131861 C6.90382047,18.3161839 8.49031039,16.9172895 8.49031039,16.9172895 L12.7709996,21.1037039 L23.8090089,10 L26,12.6086416 L12.9963847,26 C12.9963847,26 8.8886428,21.956357 6,19.1131861"
                                id="Fill-4"
                                fill="#231F20"></path>
                            </g>
                            <g id="Group-6-Copy-9"
                              transform="translate(61.000000, 0.000000)">
                              <g id="Group-3">
                                <mask id="mask-4" fill="white">
                                  <use xlink:href="#path-3"></use>
                                </mask>
                                <g id="Clip-2"></g>
                                <path d="M4.66146667,6.15713333 C3.64046667,6.52113333 3.43646667,6.6708 3.43613333,7.93713333 C3.4358,13.0181333 3.45946667,17.6454667 3.42413333,22.7261333 C3.4108,24.6128 3.9458,26.2851333 5.05846667,27.7791333 C7.77646667,31.4281333 11.5688,33.6408 15.5678,35.5598 C15.7981333,35.6701333 16.1928,35.5944667 16.4478,35.4724667 C19.5518,33.9904667 22.4911333,32.2444667 24.9781333,29.8351333 C26.9904667,27.8854667 28.4821333,25.6808 28.4081333,22.6944667 C28.3481333,20.2508 28.3961333,17.8044667 28.3958,15.3591333 C28.3958,12.6281333 28.3784667,10.3511333 28.4071333,7.62046667 C28.4151333,6.88713333 28.1974667,6.62613333 27.4218,6.1518 C27.4218,6.1518 22.1668,4.13546667 16.0834667,4.13546667 C10.0001333,4.13546667 4.66146667,6.15713333 4.66146667,6.15713333 M30.6778,2.6028 C31.5934667,2.9328 31.8364667,2.9708 31.8338,3.8268 C31.8104667,10.6851333 31.8361333,17.5441333 31.8124667,24.4024667 C31.8028,27.1771333 30.5591333,29.1318 28.7701333,31.1528 C25.4511333,34.9024667 21.2628,37.4354667 16.8321333,39.6244667 C16.6138,39.7324667 16.4121333,39.8738 16.2028,39.9998 L15.6308,39.9998 C12.7601333,38.2801333 9.79013333,36.7031333 7.0468,34.7998 C4.32646667,32.9124667 1.9328,30.9228 0.711133333,27.7198 C0.313133333,26.6754667 0.0528,25.5101333 0.0431333333,24.3974667 C-0.0168666667,17.5391333 0.0224666667,10.6804667 0.000133333333,3.8218 C-0.00286666667,2.96413333 0.267133333,2.8928 1.1598,2.6288 C1.1598,2.6288 9.3338,0.263133333 15.9168,0.263133333 C22.5001333,0.263133333 30.6778,2.6028 30.6778,2.6028"
                                  id="Fill-1"
                                  fill="#231F20"
                                  mask="url(#mask-4)"></path>
                              </g>
                              <path d="M6,19.1131861 C6.90382047,18.3161839 8.49031039,16.9172895 8.49031039,16.9172895 L12.7709996,21.1037039 L23.8090089,10 L26,12.6086416 L12.9963847,26 C12.9963847,26 8.8886428,21.956357 6,19.1131861"
                                id="Fill-4"
                                fill="#231F20"></path>
                            </g>
                            <g id="Group-6-Copy-5"
                              transform="translate(120.000000, 0.000000)">
                              <g id="Group-3">
                                <mask id="mask-6" fill="white">
                                  <use xlink:href="#path-5"></use>
                                </mask>
                                <g id="Clip-2"></g>
                                <path d="M4.66146667,6.15713333 C3.64046667,6.52113333 3.43646667,6.6708 3.43613333,7.93713333 C3.4358,13.0181333 3.45946667,17.6454667 3.42413333,22.7261333 C3.4108,24.6128 3.9458,26.2851333 5.05846667,27.7791333 C7.77646667,31.4281333 11.5688,33.6408 15.5678,35.5598 C15.7981333,35.6701333 16.1928,35.5944667 16.4478,35.4724667 C19.5518,33.9904667 22.4911333,32.2444667 24.9781333,29.8351333 C26.9904667,27.8854667 28.4821333,25.6808 28.4081333,22.6944667 C28.3481333,20.2508 28.3961333,17.8044667 28.3958,15.3591333 C28.3958,12.6281333 28.3784667,10.3511333 28.4071333,7.62046667 C28.4151333,6.88713333 28.1974667,6.62613333 27.4218,6.1518 C27.4218,6.1518 22.1668,4.13546667 16.0834667,4.13546667 C10.0001333,4.13546667 4.66146667,6.15713333 4.66146667,6.15713333 M30.6778,2.6028 C31.5934667,2.9328 31.8364667,2.9708 31.8338,3.8268 C31.8104667,10.6851333 31.8361333,17.5441333 31.8124667,24.4024667 C31.8028,27.1771333 30.5591333,29.1318 28.7701333,31.1528 C25.4511333,34.9024667 21.2628,37.4354667 16.8321333,39.6244667 C16.6138,39.7324667 16.4121333,39.8738 16.2028,39.9998 L15.6308,39.9998 C12.7601333,38.2801333 9.79013333,36.7031333 7.0468,34.7998 C4.32646667,32.9124667 1.9328,30.9228 0.711133333,27.7198 C0.313133333,26.6754667 0.0528,25.5101333 0.0431333333,24.3974667 C-0.0168666667,17.5391333 0.0224666667,10.6804667 0.000133333333,3.8218 C-0.00286666667,2.96413333 0.267133333,2.8928 1.1598,2.6288 C1.1598,2.6288 9.3338,0.263133333 15.9168,0.263133333 C22.5001333,0.263133333 30.6778,2.6028 30.6778,2.6028"
                                  id="Fill-1"
                                  fill="#231F20"
                                  mask="url(#mask-6)"></path>
                              </g>
                              <path d="M6,19.1131861 C6.90382047,18.3161839 8.49031039,16.9172895 8.49031039,16.9172895 L12.7709996,21.1037039 L23.8090089,10 L26,12.6086416 L12.9963847,26 C12.9963847,26 8.8886428,21.956357 6,19.1131861"
                                id="Fill-4"
                                fill="#231F20"></path>
                            </g>
                          </g>
                        </g>
                      </g>
                    </svg>
                    <h2>
                      Post Departure Plan
                    </h2>
                    <p>
                      Your benefits include:
                    </p>
                    <div class="confirmation-intro-list">
                      <ul class="benefits">
                        <li>Trip Interruption</li>
                        <li>Travel Delay (5 hours)</li>
                        <li>
                          Missed Connections for Air &amp; Cruises Only (3
                          hours)
                        </li>
                        <li>Baggage &amp; Personal Effects</li>
                        <li>Baggage Delay (12 hours)</li>
                        <li>Emergency Medical Expense</li>
                      </ul>
                    </div>
                  </div>
                  <div class="confirmation-pol-word-line">
                    <p>
                      Please download the <a href="http://policy.covermore.us/512ZPD-1121"
                        target="_blank">
                        Policy Details
                      </a> for a comprehensive view of your benefits.
                    </p>
                  </div>

                  <section class="confirmation-purchase-section">
                    <ul class="purchaseList">
                      <li>
                        <h3>
                          Trip Details
                        </h3>
                        <p>
                          Destination: American Samoa
                        </p>

                        <p>
                          Trip dates: 02/28/2022 – 03/17/2022
                        </p>
                      </li>
                      <li>
                        <h3>
                          Policy Information
                        </h3>
                        <p>
                          Post Departure Plan
                        </p>
                      </li>

                      <li>
                        <h3>
                          Primary Traveler
                        </h3>
                        <p>
                          Name: Test Meyer
                        </p>
                        <p>
                          Date of birth: 03/19/1990
                        </p>
                        <p>
                          Mobile: *******049
                        </p>
                        <p>
                          Trip Cost: $31
                        </p>
                      </li>
                    </ul>
                  </section>
                </div>
                <section class="payment-summary">
                  <h3>
                    Payment Summary
                  </h3>
                  <dl>
                    <dt>
                      Post Departure Plan
                    </dt>
                    <dd class="price">$34.00</dd>
                  </dl>
                  <dl class="total">
                    <dt>
                      Total
                    </dt>
                    <dd>$34.00</dd>
                  </dl>
                </section>
              </div>

              <div class="button-well">
                <a class="btnLink"
                  href="#"
                  onclick="window.print();return false;">
                  Print
                </a>
              </div>
            </section>
          </div>
          <!-- end form -->
        </div>

        <div class="cell">
          <div class="button-well">
            <a href="/plan-options"
              class="back-modify"
              data-drupal-selector="edit-back-modify"
              id="edit-back-modify">
              Back &amp; Modify
            </a>

            <input class="default-form-submit button secondary js-form-submit form-submit"
              data-drupal-selector="edit-submit"
              type="submit"
              id="edit-submit"
              name="op"
              value="Continue" />
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
