<fieldset>
    <div class="field-container">
        <label class="label--getquote">{{name}}</label>
        <select class="select radius">
            <optgroup label="Option Group">
                <option>Option One</option>
                <option>Option Two</option>
                <option>Option Three</option>
            </optgroup>
        </select>
    </div>
</fieldset>