//   Colors
//   color names from: http://chir.ag/projects/name-that-color/
$cmap-standard: (
  cod-gray-approx: #161616, // font color
  curious-blue-approx: #3992d3, // link color
  denim-approx: #0f6cb8, // visited link color
  scorpion-approx: #5b5a5a, // my trip background
  mine-shaft-approx: #363636, // label font color
  gray-approx: #c3c3c3, // container border color & input text color
  alto-approx: #d8d8d8, // phone border
  dusty-gray-approx: #979797, // add-on
  mercury-solid: #e5e5e5, // border color
  mercury-approx: #a7a7a7, // input border color
  mercury-lighter: #e4e4e4, // recap background
  alabaster-approx: #f8f8f8, // background fill
  dove-gray-approx: #666, // footer copy
  mine-shaft: #2d2d2d, // footer link color
  black-solid: #000, // modal background
  hyperlink: #3c5bd7,
  bahama-blue-approx: #005596,
  gold-drop-approx: #ee7c00,
  wild-sand-approx: #f5f5f5,
  remove-red: #ed0000,
  box-shadows: rgba(0, 0, 0, 0.1),
  box-shadows-quote: rgba(0, 0, 0, 0.5),
  pure-white: #fff,
  pure-black: #000,
  white-smoke: #f2f2f2,
  gallery-approx: #eee,
);

$cmap-customs: (
  primary-color: var(--primary-color),
  secondary-color: var(--secondary-color),
)
