@import 'colors';
@import 'background-images';

//FONT
$default-font-size: 1.6rem;
$font-family-primary: 'Museo Sans Rounded';


//Font Faces
//weights
$font-face-bold: 700;
$font-face-medium: 500;
$font-face-light: 300;

