// Trip Summary
$error-text-color: get-color(alert);

.payinfo-wrap {
  box-shadow: 0 1px 4px map-deep-get($cmap-standard, box-shadows);
  margin-bottom: 60px;
  margin-top: 20px;
  padding: 20px 20px 0;

  span {
    display: inline-block;
    max-width: 50%;
  }

  .payinfo-destination,
  .payinfo-dates {
    span {
      display: block;
      max-width: none;

      &.indent {
        margin-left: 25px;
      }

      @media screen and #{breakpoint(medium)} {
        display: inline;

        &.indent {
          margin-left: 0;
        }
      }
    }
  }

  .price {
    float: right;
  }

  .payinfo-total-price {
    background: map-deep-get($cmap-standard, alabaster-approx);
    font-size: rem-calc(18);
    font-weight: $font-face-medium;
    margin-left: -20px;
    margin-top: 20px;
    padding: 20px;
    width: calc(100% + 40px);
  }
}

// Declarations
.declarations {
  clear: both;
  margin-bottom: 20px;
  margin-left: 0;

  li {
    overflow: hidden;
    padding-bottom: 2px;
    padding-left: 25px;
    position: relative;

    input {
      &[type='checkbox'] {
        &:focus-visible,
        &:disabled {
          appearance: none;
          background: transparent;
          clip: rect(-1px, 16px, 16px, -1px);
          height: 14px;
          left: 1px;
          margin-top: 2px;
          outline: 1px dotted $black;
          width: 14px;
          z-index: 5;
        }
      }
    }
  }

  input {
    &[type='checkbox'] + label {
      font-weight: $font-face-light;
      line-height: 1.25;
      margin-bottom: 5px;
      text-indent: -25px;
    }
  }
}

.payment-error-wrap {
  color: $error-text-color;
}

.reset-card-details {
  float: right;
}
