// Plan Options

// Above the plans
.intro-copy {
  font-size: rem-calc(18);
  font-weight: $font-face-medium;
}

.highlight-copy {
  color: var(--primary-color);
}

.plan-toggle {
  list-style-type: none;
  margin: 20px 0 0;

  &.row {
    margin-left: 0;
    margin-right: 0;
  }

  li {
    display: inline-block;
    float: left;
    font-size: rem-calc(15);
    font-weight: $font-face-medium;

    @media screen and #{breakpoint(small down)} {
      display: block;
      float: none;
      margin-bottom: 5px;
    }

    + li {

      &:before {
        content: '\007C';
        padding-left: 10px;
        padding-right: 10px;

        @media screen and #{breakpoint(small down)} {
          display: none;
        }
      }
    }
  }
}

// The plans
.plan-wrapper {
  margin-bottom: 80px;
  margin-top: 20px;

  &.row {
    margin-left: 0;
    margin-right: 0;
  }

}

.plan-list {
  margin: 0;

  &.row {
    margin-left: 0;
    margin-right: 0;
  }
}

.plan {
  background: $shields-3 no-repeat center 20px;
  border-radius: 6px;
  border-top: 11px solid var(--primary-color);
  box-shadow: 0 2px 4px 0 map-deep-get($cmap-customs, box-shadows-quote);
  display: inline-block;
  float: left;
  margin: 0 30px 0 0;
  max-width: 375px;
  padding: 70px 0 30px;
  vertical-align: bottom;

  @media screen and #{breakpoint(small down)} {
    max-width: 100%;
  }

  @media screen and #{breakpoint(small down)} {
    margin: 0 5px 30px 0;
  }



  // One plan
  &:first-child {
    &:nth-last-child(1) { // sass-lint:disable-line force-pseudo-nesting
      width: 70%;

      @media screen and #{breakpoint(small down)} {
        width: 100%;
      }

      &:last-of-type {
        margin-right: 0;
        width: 70%;

        @media screen and #{breakpoint(small down)} {
          width: 100%;
        }
      }
    }

    // Two plans
    &:nth-last-child(2),
    &:nth-last-child(2) ~ li {
      width: calc(50% - 30px);

      @media screen and #{breakpoint(small down)} {
        width: 100%;
      }

      &:last-of-type {
        margin-right: 0;
        width: 50%;

        @media screen and #{breakpoint(small down)} {
          width: 100%;
        }
      }
    }

    // Three plans
    &:nth-last-child(3),
    &:nth-last-child(3) ~ li {
      width: calc(33% - 30px);

      .excess-wrapper {
        margin-left: 5px;

        select {
          max-width: 165px;
        }
      }

      @media screen and #{breakpoint(small down)} {
        width: 100%;
      }

      &:last-of-type {
        margin-right: 0;
        width: 33%;

        @media screen and #{breakpoint(small down)} {
          width: 100%;
        }

        .excess-wrapper {
          margin-left: 10px;

          select {
            max-width: 190px;
          }
        }
      }
    }

    // Four plans
    &:nth-last-child(4),
    &:nth-last-child(4) ~ li {
      width: calc(25% - 15px);

      @media screen and #{breakpoint(small down)} {
        width: 100%;
      }

      &:last-of-type {
        margin-right: 0;
        width: 25%;

        @media screen and #{breakpoint(small down)} {
          width: 100%;
        }

      }

    }
  }

  // Plan name
  h2 {
    border-bottom: 1px solid map-deep-get($cmap-standard, alto-approx);
    font-size: rem-calc(21);
    margin: 0 0 30px;
    min-height: 75px;
    padding: 0 30px;
    text-align: center;
  }

  // Plan gross (not-discounted) price
  .plan-gross-price {
    font-size: rem-calc(13);
    margin-bottom: 20px;
    text-align: center;

    .excess-gross-price {
      display: block;
      font-size: rem-calc(18);
      text-decoration: line-through;
    }

  }

  // Plan price
  .excess-price {
    font-size: rem-calc(44);
    font-weight: $font-face-bold;
    line-height: rem-calc(32);
    margin: 0 0 35px;
    padding: 0 30px;
    text-align: center;

    &:first-letter {
      font-size: rem-calc(22);
      line-height: rem-calc(22);
      vertical-align: top;
    }

  }

  // Plan excess
  .excess-wrapper {
    margin-left: 32px;
    text-align: center;

    label {
      &[for*=excesses] {
        margin-left: -15px;
        text-align: center;
        width: 100%;
      }
    }

    select {

      + a {
        margin-left: 10px;
      }

    }

  }

  // Plan excess duration
  .wrp-duration {
    text-align: center;
  }

  // Plan button
  .select-plan-wrapper {
    margin-bottom: 40px;

    [type='submit'] {
      background-color: var(--secondary-color);
      background-image: none;
      border: 0;
      border-radius: 3px;
      color: map-deep-get($cmap-standard, pure-white);
      cursor: pointer;
      display: block;
      font-size: rem-calc(15);
      margin: 0 auto;
      max-height: 47px;
      max-width: 220px;
      padding: 10px 0;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }
  }

  // Plan benefits list
  .benefits-wrapper {
    padding: 0;
  }
}

.benefits-list {
  margin-bottom: 40px;

  &.row {
    margin-left: 0;
    margin-right: 0;
  }

  li {
    cursor: pointer;
    display: block;
    float: none;
    font-size: rem-calc(13);
    padding: 0 0 15px;
    text-align: center;

    &:nth-of-type(n+6) {
      display: none;
    }

    &:nth-of-type(odd) {
      background: map-deep-get($cmap-standard, wild-sand-approx);
    }

    &.open {
      .benefit-headline {
        background: $chevron-selected no-repeat 50% 100%;
        background-size: 11px 6px;
      }
    }
  }

  .benefit-headline {
    background: $chevron-unselected no-repeat 50% 100%;
    background-size: 11px 6px;
    color: map-deep-get($cmap-customs, mercury-solid);
    display: block;
    font-size: rem-calc(12);
    margin-bottom: 10px;
    padding: 12px 0 15px;
  }

  .benefit-description {
    color: map-deep-get($cmap-customs, mercury-solid);
    display: block;
    font-size: rem-calc(12);
    margin-bottom: 10px;
    padding: 5px 25px;
  }

  .benefit-coverage {
    color: map-deep-get($cmap-customs, mercury-solid);
    display: block;
    font-size: rem-calc(12);
    font-weight: $font-face-bold;
    padding: 5px 0;
  }

  &.open {
    li {
      &:nth-of-type(n+6) {
        display: block;
      }
    }
  }

}

.benefits-toggle {
  display: block;
  font-size: rem-calc(15);
  text-align: center;

  @media print {
    display: none;
  }

}

.pds-link {
  margin-top: 20px;

  a {
    display: block;
    font-size: rem-calc(15);
    text-align: center;

    @media print {
      display: none;
    }

  }

}

// The Disclaimers
.disclaimers {
  margin-bottom: 20px;

  &.row {
    margin-left: 0;
    margin-right: 0;
  }

  p {
    font-size: rem-calc(10);
    line-height: rem-calc(16);
  }

}

// Button well
.button-well {

  &.row {
    margin-left: 0;
    margin-right: 0;
  }

}
