// Global Styles
// https://get.foundation/sites/docs/global.html#sass-variables
.bg--primary {
  background-color: get-color(primary);
}

.bg--secondary {
  background-color: get-color(secondary);
}

.bg--success {
  background-color: get-color(success);
}

.bg--warning {
  background-color: get-color(warning);
}

.bg--alert {
  background-color: get-color(alert);
}

.bg--white {
  background-color: $white;
}

.bg--light_gray {
  background-color: $light-gray;
}

.bg--medium_gray {
  background-color: $medium-gray;
}

.bg--dark_gray {
  background-color: $dark-gray;
}

.bg--black {
  background-color: $black;
}

// section
.section {
  $self: 'section';

  &__title {
    font-size: 1.25rem;
  }

  &__sub-title {
    font-size: 16px;
  }
}

// plan-option
.plan-option {
  $self: &;
  border-radius: 6px;
  border-top: 11px solid var(--primary-color);

  &__price {
    height: 90px;
    font-weight: 700;
    font-size: rem-calc(44);
  }
}

// benefits
.benefits {
  padding-bottom: 15px;

  &__headline {
    font-size: rem-calc(12);
    font-weight: 300;
    padding: 12px 0 15px;
  }
  &__description {
    font-size: rem-calc(12);
    font-weight: 300;
    margin-bottom: 10px;
    padding: 5px 25px;
  }
  &__coverage {
    font-size: rem-calc(12);
    font-weight: 700;
  }
}

.list--benefits li:nth-of-type(odd) {
  background: #f5f5f5;
}

// button
.button--plan-option {
  width: 200px;
  margin-bottom: 0;
}

// title
.title {
  &--section-primary {
    color: var(--primary-color);
    font-size: rem-calc(28);
    font-weight: 500;
  }
  &--plan-option {
    padding: 20px 0;
  }
}
