
{# <!-- Anchors (links) --> #}
<a href="about.html" class="button">Learn More666666</a>
<a href="#features" class="button">View All Features</a>
{# <!-- Buttons (actions) --> #}
<button class="submit success button">Save</button>
<button type="button" class="alert button">Delete</button>
{#
<p><a href="#" class="btn">Button</a></p>
<p><a href="#" class="btn alt">Alternate Button</a></p>
<p><a href="#" class="btn disabled">Disabled Button</a></p>
<p><a href="#" class="text-btn">Text Button</a></p> #}

