{% extends '@templates/layouts/page-plan-option.twig' %}
{% set root = '/CoverMore-UI/patterns' %}

{% block topbar %}
  {% include '@molecules/blocks/topbar.twig' %}
{% endblock %}

{% block main %}
  {#
  <style>
    .show-outline div {
      outline: 1px solid #6ed2ff;
      background: #eaf9ff;
      padding: 10px;
  }
  </style> #}
  <section class="section section--plan-option show-outline">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell">
          <div class="section__header">
            <h2 class="section__title title--section-primary">
              Payment
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell">
          <div class="form">


            <form class="cmap-quote-payment" data-drupal-selector="cmap-quote-payment" action="/payment" method="post" id="cmap-quote-payment" accept-charset="UTF-8" novalidate="" data-drupal-form-fields="edit-combine,edit-submit">

              <h1>Payment</h1>
              <div class="payinfo-wrap">
                <div class="payinfo-title">
                  <h2>Trip Summary</h2>
                </div>
                <div class="payinfo-destination">
                  <span>
                    Destination:
                  </span>
                  <span class="indent">American Samoa</span>
                </div>
                <div class="payinfo-dates">
                  <span>Trip dates:</span>
                  <span class="indent">02/28/2022—03/17/2022
                  </span>
                </div>
                <div class="payinfo-name">
                  <span>Post Departure Plan</span>
                  <span class="price">$34.00</span>
                </div>
                <div class="payinfo-total-price">
                  <span>Post Departure Plan</span>
                  <span class="price">$34.00</span>
                </div>
              </div>

              <input autocomplete="off" data-drupal-selector="form-ak-hvywurc9mto0-fwfs8s4niismv78k-fmcmsloa4" type="hidden" name="form_build_id" value="form-Ak-_hvywuRc9MTo0_FWFs8s4nIISmv78k-fMCmSLoa4">
              <input data-drupal-selector="edit-cmap-quote-payment" type="hidden" name="form_id" value="cmap_quote_payment">


              <h2>Payment Information</h2>
              <div class="payment-id-travelex js-form-wrapper form-wrapper" data-drupal-selector="edit-travelex" data-drupal-states="{&quot;visible&quot;:{&quot;input[name=\u0022payment_options\u0022]&quot;:{&quot;value&quot;:&quot;travelex&quot;}}}" id="edit-travelex">
                <div id="payment-token"><input data-drupal-selector="edit-token" type="hidden" name="token" value="">
                </div>
                <div id="payment-card-number"><input data-drupal-selector="edit-card-number" type="hidden" name="card_number" value="">
                </div>
                <div id="payment-card-type"><input data-drupal-selector="edit-card-type" type="hidden" name="card_type" value="">
                </div>
                <div id="payment-trans-id"><input data-drupal-selector="edit-trans-id" type="hidden" name="trans_id" value="">
                </div>
                <div id="payment-exp-date"><input data-drupal-selector="edit-expire-date" type="hidden" name="expire_date" value="">
                </div>
                <div id="payment-cvv"><input data-drupal-selector="edit-cvv" type="hidden" name="cvv" value="">
                </div>
                <div class="small-12 medium-12 columns">
                  <label for="tsep-cardNum" class="form-required">Card Number</label>
                  <div id="tsep-cardNumDiv"><input id="tsep-cardNum" name="tsep-cardNum" placeholder="Card Number" autocomplete="cc-number" maxlength="19" type="text"></div>
                </div>
                <div class="small-12 medium-6 columns">
                  <label for="tsep-datepicker" class="form-required">Expiration Date</label>
                  <div id="tsep-datepickerDiv"><input id="tsep-datepicker" name="tsep-datepicker" placeholder="MM/YYYY" autocomplete="cc-exp" maxlength="7" type="text"></div>
                </div>
                <div class="small-12 medium-6 columns">
                  <label for="tsep-cvv2" class="form-required">Security Code</label>
                  <div id="tsep-cvv2Div"><input id="tsep-cvv2" name="tsep-cvv2" placeholder="CVV" autocomplete="off" maxlength="4" type="text"></div>
                </div>
              </div>


              <h2>Declarations</h2>

              <div id="payment-disclamer-boxes-wrap">
                <ol class="purchaseList">
                  <li>
                    <fieldset>
                      <legend/>
                      <ul class="declarations">
                        <li>
                          <input data-drupal-selector="edit-combine" type="checkbox" id="edit-combine" name="combine" value="1" class="form-checkbox">

                          <label for="edit-combine" class="option">I have read and agree to the&nbsp;<a href="https://www.covermore.com/terms-of-use" target="_blank">Terms and Conditions</a>&nbsp;and authorize Cover-More, Inc. to process my application and bill my credit card for the amount stated above.</label>

                        </li>
                      </ul>
                    </fieldset>
                  </li>
                </ol>
              </div>

              <div class="payment-error-wrap error hide">
                Error: Please read and agree to declaration statement in order to complete your purchase. If you are unable to do so, please contact us at 1-844-240-8419.
              </div>


              {# <div class="button-well">
                <a href="/traveller-information" class="back-modify" data-drupal-selector="edit-back-modify" id="edit-back-modify">Back &amp; Modify</a>

                <input class="btn btn-danger default-form-submit button js-form-submit form-submit" data-toggle="popover" data-container="body" data-placement="right" data-title="Got Token!" data-content="" data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Purchase">

              </div> #}

            </form>


          </div>
          <!-- end form -->

        </div>

        <div class="cell">
          <div class="button-well">
            <a href="/plan-options" class="back-modify" data-drupal-selector="edit-back-modify" id="edit-back-modify">
              Back &amp; Modify
            </a>

    <a  href="{{root}}//templates-thank-you/templates-thank-you.html" style="float: right;">
            <input class="default-form-submit button secondary js-form-submit form-submit" data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Continue"/>
    </a>

          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
