<div class="page" id="page">
    {% include "@organisms/global/header.twig" %}
    <main role="main">
        {% block hero %}{% endblock %}
        {% block title %}{% endblock %}
        {% block content %}{% endblock %}
    </main><!--End role=main-->
    {% include "@organisms/global/footer.twig" %}
</div>
