<ul class="sg-colors">
    <li>
        <span class="sg-swatch bg--primary"></span>
        <span class="sg-label">Primary</span>
    </li>
    <li>
        <span class="sg-swatch bg--secondary"></span>
        <span class="sg-label">Secondary</span>
    </li>
    <li>
        <span class="sg-swatch bg--success"></span>
        <span class="sg-label">Success</span>
    </li>
    <li>
        <span class="sg-swatch bg--warning"></span>
        <span class="sg-label">Warning</span>
    </li>
    <li>
        <span class="sg-swatch bg--alert"></span>
        <span class="sg-label">alert</span>
    </li>
</ul>
<ul class="sg-colors">
    <li>
        <span class="sg-swatch bg--white"></span>
        <span class="sg-label">White</span>
    </li>
    <li>
        <span class="sg-swatch bg--light_gray"></span>
        <span class="sg-label">Light Gray</span>
    </li>
    <li>
        <span class="sg-swatch bg--medium_gray"></span>
        <span class="sg-label">Medium Gray</span>
    </li>
    <li>
        <span class="sg-swatch bg--dark_gray"></span>
        <span class="sg-label">Dark Gray</span>
    </li>
    <li>
        <span class="sg-swatch bg--black"></span>
        <span class="sg-label">Black</span>
    </li>
</ul>