// Non-modular or client styles for the .l-content region.

// imports
@import 'colors';
@import 'fonts';
@import 'background-images';
@import 'forms';
@import 'header';
@import 'progress-bar';
@import 'footer';
@import 'modals';


header,
#main,
footer {

  @media print {
    background: none;
    float: none;
    margin: 0 15px;
    padding: 0;
    width: 100%;
  }

}

h1 {

  @media print {
    font-size: 28pt;
  }

}

#main {

  @media screen and #{breakpoint(small only)} {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media print {
    margin-top: 40px;
  }

  a {

    @media print {
      font-weight: bold;
      text-decoration: none;
    }

    &:after {

      @media print {
        font-weight: 400;
        text-decoration: underline;
      }

    }

  }

}

button {

  @media print {
    display: none !important;
  }

}

input {

  &[type='submit'] {

    @media print {
      display: none !important;
    }

  }

}

.help {
  text-decoration: none;

  @media print {
    display: none;
  }

  svg {
    margin-left: 5px;
  }

  .help-link-circle {
    // sass-lint:disable-block no-duplicate-properties
    fill: map-deep-get($cmap-standard, gold-drop-approx);
    fill: map-deep-get($cmap-customs, secondary-color) !important;
  }
}

section {
  clear: both;
}


// label for edit-opt-in-marketing

label {

  &[for='edit-opt-in-marketing'] {
    border-top: 1px solid map-deep-get($cmap-standard, alto-approx);
    margin: 0;
    padding-top: 20px;

    p {
      display: inline;
      font-family: $font-family-primary;
      font-size: 0.8125rem;
      font-weight: $font-face-medium;
    }
  }
}


// Button-well
.button-well {
  clear: both;
  text-align: left;

  a {
    display: block;
    margin: 10px 0;

    @media screen and #{breakpoint(medium)} {
      float: left;
      margin: 10px 0 0;
    }

    @media print {
      display: none;
    }

  }

  input {
    display: block;
    margin: 10px 0;

    @media screen and #{breakpoint(medium)} {
      float: right;
      margin: 0;
    }

    @media print {
      display: none;
    }

  }

}

// Global Site Alert
.cc-compliance {

  a {
    text-decoration: none;
  }

}
