/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
	// clear: both;
	// overflow: hidden;
	// background: $gray-dark-2;
	// color: $white;
	// line-height: 1.2;

	// a {
	// 	color: $gray-light;
	// }
  &__links {
    margin-left: -10px;
    margin-right: -10px;
    a {
      padding: 0 10px;
    }
  }
  font-size: 11px;
  &__title {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
  }

  &__p {
    font-size: 14px;
    font-weight: 300;
  }
  &__p--300 {
    font-weight: 300;
  }
  padding-bottom: 80px;
}

//Footer Nav
.nav-footer {
	margin: (-$pad) (-$pad) $space;

	li {
		border-bottom: 1px solid $gray-dark;

		@media all and (min-width: $bp-med) {
			border: 0;
			float: left;
		}
	}

	a {
		display: block;
		padding: $pad;
	}
}

.copyright {
	@media all and (min-width: $bp-med) {
		float: right;
	}
}