{% extends "@templates/layouts/site-home.twig" %}

{% block topbar %}
{% endblock %}

{% block getquote %}
{% endblock %}

{% block content %}
	{% block main %}
		<p>Content Placeholder</p>
	{% endblock %}
{% endblock %}
