
    <script src="../../css/vendor/jquery.js"></script>
    <script src="../../css/vendor/zurb_foundation/js/foundation.js"></script>
    <!-- <script src="../../css/vendor/zurb_foundation/js/foundation_init.js"></script> -->
    <!-- <script src="../../css/vendor/zurb_foundation/js/top_bar_active.js"></script> -->
    <!-- <script src="../../css/vendor/zurb_foundation/js/motion-ui.js"></script> -->
    <script>
        $(document).foundation();
    </script>
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  </body>
</html>
